.search {
  border: none;
  font-size: 18px;
  font-weight: 400;
  font-family: "Raleway";
  width: 690px;
  align-self: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  outline: 0;
}

.search:active,
.search:focus {
  border-bottom: 1px solid #222;
}
