p {
  margin: 0;
  padding: 2px;
  margin-left: 10px;
  color: #444;
}
h2 {
  font-size: 32px;
  margin-bottom: 10px;
  color: #222;
}

.student-container {
  height: 500px;
  width: 700px;
  background-color: #fff;
  overflow: scroll;
  border-radius: 5px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
}

.student {
  display: flex;

  gap: 30px;
  border-bottom: 1px solid #ddd;
  /* align-content: center; */
}

.student-img {
  height: 100px;
  border-radius: 1000000px;
  border: 1px solid #ccc;
  margin: auto 0;
  margin-left: 10px;
}

.student-info {
}
