p {
  margin: 0;
  padding: 2px;
  margin-left: 10px;
  color: #444;
}
h2 {
  font-size: 32px;
  margin: 0;
  margin-bottom: 10px;
  color: #222;
}
.student-with-accordion {
  border-bottom: 1px solid #ddd;
}
.student-container {
  display: flex;

  flex-direction: column;
  height: 500px;
  width: 700px;
  background-color: #fff;
  overflow: scroll;
  /* border-radius: 5px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2); */
}

.student {
  display: flex;
  justify-content: space-between;
}
.student-all-info {
  display: flex;

  gap: 30px;
}
.student-img {
  height: 100px;
  border-radius: 1000000px;
  border: 1px solid #ccc;
  margin: auto 0;
  margin-left: 10px;
}

.student-info {
  margin: 10px 0;
}
.grades {
  margin: 10px 0;
  margin-left: 140px;
}
.test-grade {
  display: flex;
  gap: 20px;
}

.student-expander {
  font-size: 80px;
  color: #999;
  margin-right: 20px;
  cursor: pointer;
}
